


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."clinic_active"() RETURNS boolean
    LANGUAGE "sql" STABLE
    AS $$
  SELECT (public.current_clinic()).ativo = TRUE;
$$;


ALTER FUNCTION "public"."clinic_active"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."clinics" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nome" character varying(150) NOT NULL,
    "cnpj" character varying(20),
    "ativo" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."clinics" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."current_clinic"() RETURNS "public"."clinics"
    LANGUAGE "plpgsql" STABLE
    AS $$
DECLARE
  v_clinic_id UUID;
  v_clinic public.clinics;
BEGIN
  v_clinic_id := NULLIF(current_setting('request.jwt.claim.clinic_id', true), '')::UUID;
  
  IF v_clinic_id IS NOT NULL THEN
    SELECT * INTO v_clinic FROM public.clinics WHERE id = v_clinic_id;
    RETURN v_clinic;
  END IF;
  
  RETURN NULL;
END;
$$;


ALTER FUNCTION "public"."current_clinic"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."current_clinic_id"() RETURNS "uuid"
    LANGUAGE "sql" STABLE
    AS $$
  SELECT (public.current_clinic()).id;
$$;


ALTER FUNCTION "public"."current_clinic_id"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_current_professional_id"() RETURNS "uuid"
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT id FROM public.professionals 
  WHERE user_profile_id = (SELECT id FROM public.user_profiles WHERE auth_user_id = auth.uid() LIMIT 1);
$$;


ALTER FUNCTION "public"."get_current_professional_id"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_current_user_profile_id"() RETURNS "uuid"
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT id FROM public.user_profiles WHERE auth_user_id = auth.uid() LIMIT 1;
$$;


ALTER FUNCTION "public"."get_current_user_profile_id"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_user_role"() RETURNS character varying
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT r.nome 
  FROM public.user_profiles up
  JOIN public.roles r ON up.role_id = r.id
  WHERE up.auth_user_id = auth.uid();
$$;


ALTER FUNCTION "public"."get_user_role"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."has_permission"("perm_name" character varying) RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT EXISTS (
    SELECT 1 
    FROM public.user_profiles up
    JOIN public.role_permissions rp ON rp.role_id = up.role_id
    JOIN public.permissions p ON p.id = rp.permission_id
    WHERE up.auth_user_id = auth.uid() AND p.nome = perm_name
  );
$$;


ALTER FUNCTION "public"."has_permission"("perm_name" character varying) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."has_role"("role_name" character varying) RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT public.get_user_role() = role_name;
$$;


ALTER FUNCTION "public"."has_role"("role_name" character varying) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_admin"() RETURNS boolean
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT public.get_user_role() = 'ADMIN';
$$;


ALTER FUNCTION "public"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_appointment_status_history"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF OLD.status IS DISTINCT FROM NEW.status THEN
    INSERT INTO public.appointment_history (appointment_id, status_anterior, status_novo, alterado_por)
    VALUES (NEW.id, OLD.status, NEW.status, auth.uid());
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_appointment_status_history"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_audit_log"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_old_json JSONB := '{}'::jsonb;
  v_new_json JSONB := '{}'::jsonb;
  v_diff JSONB := '{}'::jsonb;
  k TEXT;
BEGIN
  IF TG_OP = 'UPDATE' THEN
    FOR k IN SELECT key FROM jsonb_each(to_jsonb(NEW))
    LOOP
      IF to_jsonb(NEW)->>k IS DISTINCT FROM to_jsonb(OLD)->>k THEN
        v_diff := jsonb_set(v_diff, ARRAY[k], to_jsonb(NEW)->k);
        v_old_json := jsonb_set(v_old_json, ARRAY[k], to_jsonb(OLD)->k);
      END IF;
    END LOOP;
    
    IF v_diff <> '{}'::jsonb THEN
      INSERT INTO public.audit_logs (entity_type, entity_id, action, old_data, new_data, changed_by)
      VALUES (TG_TABLE_NAME, NEW.id, 'UPDATE', v_old_json, v_diff, auth.uid());
    END IF;
  ELSIF TG_OP = 'INSERT' THEN
    INSERT INTO public.audit_logs (entity_type, entity_id, action, new_data, changed_by)
    VALUES (TG_TABLE_NAME, NEW.id, 'INSERT', to_jsonb(NEW), auth.uid());
  ELSIF TG_OP = 'DELETE' THEN
    INSERT INTO public.audit_logs (entity_type, entity_id, action, old_data, changed_by)
    VALUES (TG_TABLE_NAME, OLD.id, 'DELETE', to_jsonb(OLD), auth.uid());
    RETURN OLD;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_audit_log"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_audit_log_incremental"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_old_json JSONB := '{}'::jsonb;
  v_new_json JSONB := '{}'::jsonb;
  v_diff JSONB := '{}'::jsonb;
  k TEXT;
BEGIN
  IF TG_OP = 'UPDATE' THEN
    -- Calcula diff iterando chaves do novo estado
    FOR k IN SELECT key FROM jsonb_each(to_jsonb(NEW))
    LOOP
      IF to_jsonb(NEW)->>k IS DISTINCT FROM to_jsonb(OLD)->>k THEN
        v_diff := jsonb_set(v_diff, ARRAY[k], to_jsonb(NEW)->k);
        v_old_json := jsonb_set(v_old_json, ARRAY[k], to_jsonb(OLD)->k);
      END IF;
    END LOOP;
    
    -- Apenas loga se houver mudan├ºas reais
    IF v_diff <> '{}'::jsonb THEN
      INSERT INTO public.audit_logs (entity_type, entity_id, action, old_data, new_data, changed_by)
      VALUES (TG_TABLE_NAME, NEW.id, 'UPDATE', v_old_json, v_diff, auth.uid());
    END IF;
  ELSIF TG_OP = 'INSERT' THEN
    INSERT INTO public.audit_logs (entity_type, entity_id, action, new_data, changed_by)
    VALUES (TG_TABLE_NAME, NEW.id, 'INSERT', to_jsonb(NEW), auth.uid());
  ELSIF TG_OP = 'DELETE' THEN
    INSERT INTO public.audit_logs (entity_type, entity_id, action, old_data, changed_by)
    VALUES (TG_TABLE_NAME, OLD.id, 'DELETE', to_jsonb(OLD), auth.uid());
    RETURN OLD;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_audit_log_incremental"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_financial_audit"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF TG_OP = 'UPDATE' THEN
    -- Analisa Status
    IF OLD.status IS DISTINCT FROM NEW.status THEN
      INSERT INTO public.financial_audit (clinic_id, document_id, campo_alterado, valor_antigo, valor_novo, changed_by)
      VALUES (NEW.clinic_id, NEW.id, 'status', OLD.status, NEW.status, auth.uid());
    END IF;
    
    -- Analisa Valor Total
    IF OLD.valor_total IS DISTINCT FROM NEW.valor_total THEN
      INSERT INTO public.financial_audit (clinic_id, document_id, campo_alterado, valor_antigo, valor_novo, changed_by)
      VALUES (NEW.clinic_id, NEW.id, 'valor_total', OLD.valor_total::TEXT, NEW.valor_total::TEXT, auth.uid());
    END IF;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_financial_audit"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_set_timestamp"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."trigger_set_timestamp"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_appointment_status"("p_appointment_id" "uuid", "p_new_status" character varying, "p_observacao" "text" DEFAULT NULL::"text") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    v_old_status VARCHAR;
    v_prof_id UUID;
BEGIN
    SELECT status, professional_id INTO v_old_status, v_prof_id 
    FROM public.appointments WHERE id = p_appointment_id;

    -- Valida├º├úo de Permiss├úo (B├ísica: Admin pode tudo, Recepcionista pode, Profissional apenas os seus)
    IF NOT (
        public.is_admin() OR 
        public.has_role('RECEPCIONISTA') OR 
        (public.has_role('PROFISSIONAL') AND v_prof_id = public.get_current_professional_id())
    ) THEN
        RAISE EXCEPTION 'Acesso negado para alterar este agendamento.';
    END IF;

    -- Atualiza (Isso dispara a trigger que insere na history)
    UPDATE public.appointments 
    SET status = p_new_status, updated_at = now() 
    WHERE id = p_appointment_id;

    -- Como a trigger insere o hist├│rico sem a observa├º├úo do frontend, vamos 
    -- dar um UPDATE no registro rec├®m-criado na trigger inserindo a observa├º├úo,
    -- garantindo 100% de rastreabilidade num ├║nico evento.
    IF p_observacao IS NOT NULL THEN
    UPDATE public.appointment_history
    SET observacao = p_observacao
    WHERE id = (
        SELECT id
        FROM public.appointment_history
        WHERE appointment_id = p_appointment_id
        ORDER BY created_at DESC
        LIMIT 1
    );
END IF;

    -- Criar notifica├º├úo para o pipeline do WhatsApp
    IF p_new_status = 'confirmada' THEN
        INSERT INTO public.notifications (appointment_id, tipo, mensagem)
        VALUES (p_appointment_id, 'CONSULTA_APROVADA', 'Sua consulta foi confirmada.');
    ELSIF p_new_status = 'cancelada' THEN
        INSERT INTO public.notifications (appointment_id, tipo, mensagem)
        VALUES (p_appointment_id, 'CONSULTA_CANCELADA', 'Sua consulta foi cancelada.');
    END IF;

    RETURN TRUE;
END;
$$;


ALTER FUNCTION "public"."update_appointment_status"("p_appointment_id" "uuid", "p_new_status" character varying, "p_observacao" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_document_balance"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
  v_total_pago NUMERIC(14,2);
  v_doc public.financial_documents;
BEGIN
  -- Calcula a soma de todos os pagamentos conclu├¡dos deste documento
  SELECT COALESCE(SUM(valor_pago), 0) INTO v_total_pago 
  FROM public.payments 
  WHERE document_id = NEW.document_id AND status = 'CONCLUIDO';
  
  -- Recupera o documento para calcular a diferen├ºa
  SELECT * INTO v_doc FROM public.financial_documents WHERE id = NEW.document_id;
  
  -- Aplica novo Saldo Devedor
  UPDATE public.financial_documents 
  SET saldo_devedor = GREATEST((v_doc.valor_total - v_total_pago), 0.00),
      status = CASE 
                  WHEN v_total_pago >= v_doc.valor_total THEN 'PAGO'
                  WHEN v_total_pago > 0 AND v_total_pago < v_doc.valor_total THEN 'PARCIAL'
                  ELSE status 
               END
  WHERE id = NEW.document_id;

  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_document_balance"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_last_login_profile"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  IF NEW.acao = 'LOGIN' THEN
    UPDATE public.user_profiles 
    SET last_login_at = NEW.created_at,
        login_count = COALESCE(login_count, 0) + 1
    WHERE auth_user_id = NEW.user_id;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_last_login_profile"() OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."appointment_history" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "appointment_id" "uuid" NOT NULL,
    "status_anterior" character varying(50),
    "status_novo" character varying(50) NOT NULL,
    "alterado_por" "uuid",
    "observacao" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "clinic_id" "uuid"
);


ALTER TABLE "public"."appointment_history" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."appointments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "professional_id" "uuid" NOT NULL,
    "patient_id" "uuid",
    "data" "date" NOT NULL,
    "hora_inicio" time without time zone NOT NULL,
    "hora_fim" time without time zone NOT NULL,
    "status" character varying(50) DEFAULT 'agendada'::character varying NOT NULL,
    "observacao_interna" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "clinic_id" "uuid",
    "procedure_id" "uuid",
    "valor_cobrado" numeric(10,2),
    "duracao_real" integer,
    "desconto" numeric(10,2) DEFAULT 0.00,
    "observacao_financeira" "text",
    CONSTRAINT "appointments_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['agendada'::character varying, 'aguardando_aprovacao'::character varying, 'confirmada'::character varying, 'aguardando_atendimento'::character varying, 'em_atendimento'::character varying, 'aguardando_pagamento'::character varying, 'pago'::character varying, 'concluida'::character varying, 'recusada'::character varying, 'cancelada'::character varying, 'remarcada'::character varying, 'nao_compareceu'::character varying])::"text"[])))
);


ALTER TABLE "public"."appointments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "entity_type" character varying(50) NOT NULL,
    "entity_id" "uuid" NOT NULL,
    "action" character varying(20) NOT NULL,
    "old_data" "jsonb",
    "new_data" "jsonb",
    "changed_by" "uuid",
    "ip" character varying(50),
    "user_agent" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "clinic_id" "uuid",
    "modulo" character varying(50),
    CONSTRAINT "audit_logs_action_check" CHECK ((("action")::"text" = ANY ((ARRAY['INSERT'::character varying, 'UPDATE'::character varying, 'DELETE'::character varying])::"text"[])))
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cash_movements" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "cash_register_id" "uuid",
    "payment_id" "uuid",
    "tipo" character varying(20),
    "valor" numeric(14,2) NOT NULL,
    "descricao" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "created_by" "uuid",
    CONSTRAINT "cash_movements_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['ENTRADA'::character varying, 'SAIDA'::character varying, 'SANGRIA'::character varying, 'SUPRIMENTO'::character varying])::"text"[])))
);


ALTER TABLE "public"."cash_movements" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."cash_registers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "opened_by" "uuid",
    "closed_by" "uuid",
    "data_abertura" timestamp with time zone DEFAULT "now"(),
    "data_fechamento" timestamp with time zone,
    "saldo_inicial" numeric(14,2) DEFAULT 0.00 NOT NULL,
    "saldo_final_esperado" numeric(14,2) DEFAULT 0.00,
    "saldo_final_real" numeric(14,2) DEFAULT 0.00,
    "diferenca" numeric(14,2) DEFAULT 0.00,
    "motivo_diferenca" "text",
    "status" character varying(20) DEFAULT 'ABERTO'::character varying,
    CONSTRAINT "cash_registers_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['ABERTO'::character varying, 'FECHADO'::character varying])::"text"[])))
);


ALTER TABLE "public"."cash_registers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."financial_audit" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "document_id" "uuid",
    "campo_alterado" character varying(100),
    "valor_antigo" "text",
    "valor_novo" "text",
    "motivo" "text",
    "changed_by" "uuid",
    "ip" character varying(50),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."financial_audit" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."financial_document_items" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "document_id" "uuid",
    "procedure_id" "uuid",
    "descricao" character varying(255) NOT NULL,
    "quantidade" integer DEFAULT 1,
    "valor_unitario" numeric(14,2) NOT NULL,
    "desconto" numeric(14,2) DEFAULT 0.00,
    "acrescimo" numeric(14,2) DEFAULT 0.00,
    "valor_final" numeric(14,2) GENERATED ALWAYS AS (((("valor_unitario" * ("quantidade")::numeric) - "desconto") + "acrescimo")) STORED
);


ALTER TABLE "public"."financial_document_items" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."financial_documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "patient_id" "uuid",
    "appointment_id" "uuid",
    "tipo" character varying(20) NOT NULL,
    "status" character varying(20) DEFAULT 'ABERTO'::character varying,
    "valor_total" numeric(14,2) DEFAULT 0.00 NOT NULL,
    "saldo_devedor" numeric(14,2) DEFAULT 0.00 NOT NULL,
    "data_emissao" "date" DEFAULT CURRENT_DATE NOT NULL,
    "data_vencimento" "date" NOT NULL,
    "observacao" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "created_by" "uuid",
    CONSTRAINT "financial_documents_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['ABERTO'::character varying, 'PARCIAL'::character varying, 'PAGO'::character varying, 'CANCELADO'::character varying, 'ESTORNADO'::character varying, 'EM_NEGOCIACAO'::character varying, 'INADIMPLENTE'::character varying])::"text"[]))),
    CONSTRAINT "financial_documents_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['RECEITA'::character varying, 'DESPESA'::character varying])::"text"[])))
);


ALTER TABLE "public"."financial_documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."health_insurances" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "nome" character varying(150) NOT NULL,
    "cnpj" character varying(20),
    "telefone" character varying(20),
    "registro_ans" character varying(50),
    "ativo" boolean DEFAULT true
);


ALTER TABLE "public"."health_insurances" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "appointment_id" "uuid",
    "tipo" character varying(50) NOT NULL,
    "canal" character varying(20) DEFAULT 'WHATSAPP'::character varying,
    "mensagem" "text" NOT NULL,
    "status_envio" character varying(20) DEFAULT 'PENDENTE'::character varying,
    "enviado_em" timestamp with time zone,
    "erro" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "clinic_id" "uuid",
    CONSTRAINT "notifications_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['NOVA_SOLICITACAO'::character varying, 'CONSULTA_APROVADA'::character varying, 'CONSULTA_RECUSADA'::character varying, 'CONSULTA_CANCELADA'::character varying, 'CONSULTA_REMARCADA'::character varying, 'LEMBRETE_CONSULTA'::character varying])::"text"[])))
);


ALTER TABLE "public"."notifications" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patient_alerts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid",
    "tipo" character varying(50) NOT NULL,
    "descricao" "text" NOT NULL,
    "prioridade" smallint DEFAULT 2,
    "ativo" boolean DEFAULT true,
    "criado_em" timestamp with time zone DEFAULT "now"(),
    "cor" character varying(20) DEFAULT 'AMARELO'::character varying,
    CONSTRAINT "patient_alerts_cor_check" CHECK ((("cor")::"text" = ANY ((ARRAY['VERMELHO'::character varying, 'AMARELO'::character varying, 'AZUL'::character varying, 'VERDE'::character varying])::"text"[]))),
    CONSTRAINT "patient_alerts_prioridade_check" CHECK ((("prioridade" >= 1) AND ("prioridade" <= 4)))
);


ALTER TABLE "public"."patient_alerts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patient_contacts" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid",
    "nome" character varying(150) NOT NULL,
    "parentesco" character varying(50) NOT NULL,
    "telefone" character varying(20),
    "whatsapp" character varying(20),
    "email" character varying(150),
    "responsavel_financeiro" boolean DEFAULT false,
    "contato_emergencia" boolean DEFAULT false,
    "autorizado_informacoes" boolean DEFAULT false,
    CONSTRAINT "patient_contacts_parentesco_check" CHECK ((("parentesco")::"text" = ANY ((ARRAY['PAI'::character varying, 'MAE'::character varying, 'RESPONSAVEL'::character varying, 'CONJUGE'::character varying, 'FILHO'::character varying, 'CUIDADOR'::character varying, 'OUTRO'::character varying])::"text"[])))
);


ALTER TABLE "public"."patient_contacts" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patient_devices" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid",
    "device_id" character varying(255) NOT NULL,
    "device_model" character varying(100),
    "os_version" character varying(50),
    "push_token" "text",
    "last_active" timestamp with time zone DEFAULT "now"(),
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."patient_devices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patient_documents" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid",
    "nome_arquivo" character varying(255) NOT NULL,
    "descricao" "text",
    "mime_type" character varying(100),
    "tamanho" bigint,
    "bucket" character varying(100) DEFAULT 'patient_docs'::character varying,
    "storage_path" "text" NOT NULL,
    "hash" character varying(255),
    "versao" integer DEFAULT 1,
    "uploaded_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    "deleted_by" "uuid"
);


ALTER TABLE "public"."patient_documents" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patient_health_insurances" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid",
    "health_insurance_id" "uuid",
    "numero_carteirinha" character varying(50) NOT NULL,
    "plano" character varying(100),
    "categoria_plano" character varying(50),
    "acomodacao" character varying(30),
    "validade" "date",
    "titular" boolean DEFAULT true,
    "is_primary" boolean DEFAULT false,
    "observacoes" "text"
);


ALTER TABLE "public"."patient_health_insurances" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patient_sessions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "patient_id" "uuid",
    "refresh_token_hash" "text" NOT NULL,
    "device_name" character varying(100),
    "platform" character varying(50),
    "browser" character varying(50),
    "ip_address" character varying(50),
    "expires_at" timestamp with time zone NOT NULL,
    "revoked_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."patient_sessions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."patients" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "auth_user_id" "uuid",
    "email" character varying(150),
    "email_verificado" boolean DEFAULT false,
    "telefone_verificado" boolean DEFAULT false,
    "ultimo_login" timestamp with time zone,
    "foto" "text",
    "preferred_notification_channel" character varying(20) DEFAULT 'WHATSAPP'::character varying,
    "language" character varying(10) DEFAULT 'pt-BR'::character varying,
    "timezone" character varying(50) DEFAULT 'America/Sao_Paulo'::character varying,
    "token_notificacoes" "text",
    "nome" character varying(150) NOT NULL,
    "cpf" character varying(14) NOT NULL,
    "rg" character varying(20),
    "data_nascimento" "date",
    "sexo" character varying(20),
    "telefone" character varying(20),
    "whatsapp" character varying(20),
    "cep" character varying(10),
    "logradouro" character varying(150),
    "numero" character varying(20),
    "complemento" character varying(100),
    "bairro" character varying(100),
    "cidade" character varying(100),
    "uf" character varying(2),
    "pais" character varying(50) DEFAULT 'Brasil'::character varying,
    "codigo_ibge" character varying(10),
    "latitude" numeric(10,8),
    "longitude" numeric(11,8),
    "observacoes_administrativas" "text",
    "aceitou_lgpd" boolean DEFAULT false NOT NULL,
    "data_aceite_lgpd" timestamp with time zone,
    "ip_aceite" character varying(50),
    "user_agent" "text",
    "versao_termo" character varying(20),
    "data_revogacao" timestamp with time zone,
    "motivo_revogacao" "text",
    "status" character varying(20) DEFAULT 'Ativo'::character varying,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "text_search" "tsvector" GENERATED ALWAYS AS ("to_tsvector"('"portuguese"'::"regconfig", (((((COALESCE("nome", ''::character varying))::"text" || ' '::"text") || (COALESCE("cpf", ''::character varying))::"text") || ' '::"text") || (COALESCE("email", ''::character varying))::"text"))) STORED,
    CONSTRAINT "patients_preferred_notification_channel_check" CHECK ((("preferred_notification_channel")::"text" = ANY ((ARRAY['WHATSAPP'::character varying, 'EMAIL'::character varying, 'SMS'::character varying])::"text"[]))),
    CONSTRAINT "patients_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['Ativo'::character varying, 'Inativo'::character varying, 'Arquivado'::character varying])::"text"[])))
);


ALTER TABLE "public"."patients" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payment_methods" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "nome" character varying(100) NOT NULL,
    "taxa" numeric(10,2) DEFAULT 0.00,
    "ativo" boolean DEFAULT true
);


ALTER TABLE "public"."payment_methods" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "document_id" "uuid",
    "payment_method_id" "uuid",
    "valor_pago" numeric(14,2) NOT NULL,
    "data_pagamento" "date" DEFAULT CURRENT_DATE NOT NULL,
    "status" character varying(20) DEFAULT 'CONCLUIDO'::character varying,
    "comprovante_url" "text",
    "gateway_transaction_id" character varying(255),
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "payments_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['CONCLUIDO'::character varying, 'ESTORNADO'::character varying, 'EM_PROCESSAMENTO'::character varying])::"text"[])))
);


ALTER TABLE "public"."payments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."permissions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nome" character varying(100) NOT NULL,
    "descricao" "text",
    "clinic_id" "uuid"
);


ALTER TABLE "public"."permissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."procedures" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "specialty_id" "uuid",
    "nome" character varying(150) NOT NULL,
    "descricao" "text",
    "duracao" integer DEFAULT 60,
    "ativo" boolean DEFAULT true,
    "codigo_tiss" character varying(20),
    "gera_retorno" boolean DEFAULT false,
    "tempo_retorno" integer DEFAULT 0,
    "limite_dias_retorno" integer DEFAULT 15
);


ALTER TABLE "public"."procedures" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."professional_availability_settings" (
    "professional_id" "uuid" NOT NULL,
    "permite_agendamento_online" boolean DEFAULT true,
    "antecedencia_minima_agendamento" integer DEFAULT 24,
    "limite_maximo_agendamento" integer DEFAULT 30,
    "tempo_intervalo_consulta" integer DEFAULT 0,
    "aceita_remarcacao" boolean DEFAULT true,
    "aceita_cancelamento" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."professional_availability_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."professional_procedures" (
    "professional_id" "uuid" NOT NULL,
    "procedure_id" "uuid" NOT NULL,
    "valor_avista" numeric(10,2) DEFAULT 0.00 NOT NULL,
    "valor_cartao" numeric(10,2) DEFAULT 0.00 NOT NULL,
    "duracao_personalizada" integer,
    "ativo" boolean DEFAULT true
);


ALTER TABLE "public"."professional_procedures" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."professional_schedule" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "professional_id" "uuid" NOT NULL,
    "dia_semana" integer NOT NULL,
    "hora_inicio" time without time zone NOT NULL,
    "hora_fim" time without time zone NOT NULL,
    "intervalo_inicio" time without time zone,
    "intervalo_fim" time without time zone,
    "duracao_consulta" integer DEFAULT 60 NOT NULL,
    "ativo" boolean DEFAULT true,
    "clinic_id" "uuid",
    CONSTRAINT "professional_schedule_dia_semana_check" CHECK ((("dia_semana" >= 0) AND ("dia_semana" <= 6)))
);


ALTER TABLE "public"."professional_schedule" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."professionals" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_profile_id" "uuid" NOT NULL,
    "nome" character varying(150) NOT NULL,
    "slug" character varying(150),
    "descricao" "text",
    "foto" "text",
    "especialidade" character varying(100),
    "especialidade_id" "uuid",
    "registro_profissional" character varying(50),
    "telefone" character varying(20),
    "whatsapp" character varying(20),
    "valor_avista" numeric(10,2) DEFAULT 0.00 NOT NULL,
    "valor_cartao" numeric(10,2) DEFAULT 0.00 NOT NULL,
    "ativo" boolean DEFAULT true,
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "clinic_id" "uuid"
);


ALTER TABLE "public"."professionals" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."role_permissions" (
    "role_id" "uuid" NOT NULL,
    "permission_id" "uuid" NOT NULL
);


ALTER TABLE "public"."role_permissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."roles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nome" character varying(50) NOT NULL,
    "clinic_id" "uuid"
);


ALTER TABLE "public"."roles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."schedule_blocks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "professional_id" "uuid" NOT NULL,
    "tipo" character varying(50) NOT NULL,
    "data_inicio" timestamp with time zone NOT NULL,
    "data_fim" timestamp with time zone NOT NULL,
    "motivo" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "clinic_id" "uuid",
    CONSTRAINT "schedule_blocks_tipo_check" CHECK ((("tipo")::"text" = ANY ((ARRAY['FERIAS'::character varying, 'FOLGA'::character varying, 'BLOQUEIO'::character varying])::"text"[])))
);


ALTER TABLE "public"."schedule_blocks" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."security_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "acao" character varying(100) NOT NULL,
    "descricao" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "target_user_id" "uuid",
    "clinic_id" "uuid"
);


ALTER TABLE "public"."security_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."specialties" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "clinic_id" "uuid",
    "nome" character varying(150) NOT NULL,
    "descricao" "text"
);


ALTER TABLE "public"."specialties" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "auth_user_id" "uuid" NOT NULL,
    "nome" character varying(150) NOT NULL,
    "email" character varying(255) NOT NULL,
    "role_id" "uuid",
    "ativo" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()),
    "last_login_at" timestamp with time zone,
    "login_count" integer DEFAULT 0,
    "clinic_id" "uuid"
);


ALTER TABLE "public"."user_profiles" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."vw_accounts_payable" AS
 SELECT "clinic_id",
    "status",
    "count"("id") AS "qtd_documentos",
    "sum"("saldo_devedor") AS "total_devido"
   FROM "public"."financial_documents"
  WHERE ((("tipo")::"text" = 'DESPESA'::"text") AND ("saldo_devedor" > (0)::numeric) AND (("status")::"text" <> ALL ((ARRAY['CANCELADO'::character varying, 'ESTORNADO'::character varying])::"text"[])))
  GROUP BY "clinic_id", "status";


ALTER VIEW "public"."vw_accounts_payable" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."vw_accounts_receivable" AS
 SELECT "clinic_id",
    "status",
    "count"("id") AS "qtd_documentos",
    "sum"("saldo_devedor") AS "total_esperado"
   FROM "public"."financial_documents"
  WHERE ((("tipo")::"text" = 'RECEITA'::"text") AND ("saldo_devedor" > (0)::numeric) AND (("status")::"text" <> ALL ((ARRAY['CANCELADO'::character varying, 'ESTORNADO'::character varying])::"text"[])))
  GROUP BY "clinic_id", "status";


ALTER VIEW "public"."vw_accounts_receivable" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."vw_daily_cash" AS
 SELECT "clinic_id",
    "data_pagamento" AS "data",
    "sum"("valor_pago") FILTER (WHERE (("status")::"text" = 'CONCLUIDO'::"text")) AS "total_recebido",
    "count"("id") FILTER (WHERE (("status")::"text" = 'CONCLUIDO'::"text")) AS "transacoes_sucesso"
   FROM "public"."payments"
  GROUP BY "clinic_id", "data_pagamento";


ALTER VIEW "public"."vw_daily_cash" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."vw_monthly_revenue" AS
 SELECT "clinic_id",
    "date_trunc"('month'::"text", ("data_emissao")::timestamp with time zone) AS "mes",
    "sum"("valor_total") AS "total_faturado",
    "sum"(("valor_total" - "saldo_devedor")) AS "total_recebido",
    "sum"("saldo_devedor") AS "total_em_aberto"
   FROM "public"."financial_documents"
  WHERE ((("tipo")::"text" = 'RECEITA'::"text") AND (("status")::"text" <> ALL ((ARRAY['CANCELADO'::character varying, 'ESTORNADO'::character varying])::"text"[])))
  GROUP BY "clinic_id", ("date_trunc"('month'::"text", ("data_emissao")::timestamp with time zone));


ALTER VIEW "public"."vw_monthly_revenue" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."vw_professional_revenue" AS
 SELECT "d"."clinic_id",
    "a"."professional_id",
    "date_trunc"('month'::"text", ("d"."data_emissao")::timestamp with time zone) AS "mes",
    "sum"("d"."valor_total") AS "producao_bruta",
    "sum"(("d"."valor_total" - "d"."saldo_devedor")) AS "producao_recebida"
   FROM ("public"."financial_documents" "d"
     JOIN "public"."appointments" "a" ON (("a"."id" = "d"."appointment_id")))
  WHERE ((("d"."tipo")::"text" = 'RECEITA'::"text") AND (("d"."status")::"text" <> ALL ((ARRAY['CANCELADO'::character varying, 'ESTORNADO'::character varying])::"text"[])))
  GROUP BY "d"."clinic_id", "a"."professional_id", ("date_trunc"('month'::"text", ("d"."data_emissao")::timestamp with time zone));


ALTER VIEW "public"."vw_professional_revenue" OWNER TO "postgres";


ALTER TABLE ONLY "public"."appointment_history"
    ADD CONSTRAINT "appointment_history_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cash_movements"
    ADD CONSTRAINT "cash_movements_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."cash_registers"
    ADD CONSTRAINT "cash_registers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."clinics"
    ADD CONSTRAINT "clinics_cnpj_key" UNIQUE ("cnpj");



ALTER TABLE ONLY "public"."clinics"
    ADD CONSTRAINT "clinics_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."financial_audit"
    ADD CONSTRAINT "financial_audit_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."financial_document_items"
    ADD CONSTRAINT "financial_document_items_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."financial_documents"
    ADD CONSTRAINT "financial_documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."health_insurances"
    ADD CONSTRAINT "health_insurances_nome_key" UNIQUE ("nome");



ALTER TABLE ONLY "public"."health_insurances"
    ADD CONSTRAINT "health_insurances_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "no_overlapping_appointments" EXCLUDE USING "gist" ("professional_id" WITH =, "tsrange"(("data" + "hora_inicio"), ("data" + "hora_fim")) WITH &&) WHERE ((("status")::"text" = ANY ((ARRAY['agendada'::character varying, 'aguardando_aprovacao'::character varying, 'confirmada'::character varying, 'aguardando_atendimento'::character varying, 'em_atendimento'::character varying])::"text"[])));



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_alerts"
    ADD CONSTRAINT "patient_alerts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_contacts"
    ADD CONSTRAINT "patient_contacts_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_devices"
    ADD CONSTRAINT "patient_devices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_documents"
    ADD CONSTRAINT "patient_documents_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_health_insurances"
    ADD CONSTRAINT "patient_health_insurances_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_sessions"
    ADD CONSTRAINT "patient_sessions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."patient_sessions"
    ADD CONSTRAINT "patient_sessions_refresh_token_hash_key" UNIQUE ("refresh_token_hash");



ALTER TABLE ONLY "public"."patients"
    ADD CONSTRAINT "patients_cpf_key" UNIQUE ("cpf");



ALTER TABLE ONLY "public"."patients"
    ADD CONSTRAINT "patients_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."patients"
    ADD CONSTRAINT "patients_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payment_methods"
    ADD CONSTRAINT "payment_methods_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."permissions"
    ADD CONSTRAINT "permissions_nome_key" UNIQUE ("nome");



ALTER TABLE ONLY "public"."permissions"
    ADD CONSTRAINT "permissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."procedures"
    ADD CONSTRAINT "procedures_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."professional_availability_settings"
    ADD CONSTRAINT "professional_availability_settings_pkey" PRIMARY KEY ("professional_id");



ALTER TABLE ONLY "public"."professional_procedures"
    ADD CONSTRAINT "professional_procedures_pkey" PRIMARY KEY ("professional_id", "procedure_id");



ALTER TABLE ONLY "public"."professional_schedule"
    ADD CONSTRAINT "professional_schedule_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."professional_schedule"
    ADD CONSTRAINT "professional_schedule_professional_id_dia_semana_key" UNIQUE ("professional_id", "dia_semana");



ALTER TABLE ONLY "public"."professionals"
    ADD CONSTRAINT "professionals_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."professionals"
    ADD CONSTRAINT "professionals_slug_key" UNIQUE ("slug");



ALTER TABLE ONLY "public"."professionals"
    ADD CONSTRAINT "professionals_user_profile_id_key" UNIQUE ("user_profile_id");



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("role_id", "permission_id");



ALTER TABLE ONLY "public"."roles"
    ADD CONSTRAINT "roles_nome_key" UNIQUE ("nome");



ALTER TABLE ONLY "public"."roles"
    ADD CONSTRAINT "roles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."schedule_blocks"
    ADD CONSTRAINT "schedule_blocks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."security_logs"
    ADD CONSTRAINT "security_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."specialties"
    ADD CONSTRAINT "specialties_nome_key" UNIQUE ("nome");



ALTER TABLE ONLY "public"."specialties"
    ADD CONSTRAINT "specialties_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_auth_user_id_key" UNIQUE ("auth_user_id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_appointments_clinic" ON "public"."appointments" USING "btree" ("clinic_id");



CREATE INDEX "idx_appointments_prof_data" ON "public"."appointments" USING "btree" ("professional_id", "data");



CREATE INDEX "idx_blocks_prof_data" ON "public"."schedule_blocks" USING "btree" ("professional_id", "data_inicio");



CREATE INDEX "idx_cash_mov_register" ON "public"."cash_movements" USING "btree" ("cash_register_id");



CREATE INDEX "idx_cash_reg_clinic" ON "public"."cash_registers" USING "btree" ("clinic_id");



CREATE INDEX "idx_fin_docs_clinic" ON "public"."financial_documents" USING "btree" ("clinic_id");



CREATE INDEX "idx_fin_docs_due_date" ON "public"."financial_documents" USING "btree" ("data_vencimento");



CREATE INDEX "idx_fin_docs_patient" ON "public"."financial_documents" USING "btree" ("patient_id");



CREATE INDEX "idx_fin_docs_status" ON "public"."financial_documents" USING "btree" ("status");



CREATE INDEX "idx_hist_appointment" ON "public"."appointment_history" USING "btree" ("appointment_id");



CREATE UNIQUE INDEX "idx_patient_primary_insurance" ON "public"."patient_health_insurances" USING "btree" ("patient_id") WHERE ("is_primary" = true);



CREATE INDEX "idx_patients_auth" ON "public"."patients" USING "btree" ("auth_user_id");



CREATE INDEX "idx_patients_clinic" ON "public"."patients" USING "btree" ("clinic_id");



CREATE INDEX "idx_patients_cpf" ON "public"."patients" USING "btree" ("cpf");



CREATE INDEX "idx_patients_email" ON "public"."patients" USING "btree" ("email");



CREATE INDEX "idx_patients_search" ON "public"."patients" USING "gin" ("text_search");



CREATE INDEX "idx_payments_clinic" ON "public"."payments" USING "btree" ("clinic_id");



CREATE INDEX "idx_payments_date" ON "public"."payments" USING "btree" ("data_pagamento");



CREATE INDEX "idx_payments_document" ON "public"."payments" USING "btree" ("document_id");



CREATE INDEX "idx_professionals_ativo" ON "public"."professionals" USING "btree" ("ativo");



CREATE INDEX "idx_professionals_especialidade" ON "public"."professionals" USING "btree" ("especialidade");



CREATE INDEX "idx_professionals_user_profile_id" ON "public"."professionals" USING "btree" ("user_profile_id");



CREATE INDEX "idx_user_profiles_clinic" ON "public"."user_profiles" USING "btree" ("clinic_id");



CREATE OR REPLACE TRIGGER "on_user_login" AFTER INSERT ON "public"."security_logs" FOR EACH ROW EXECUTE FUNCTION "public"."update_last_login_profile"();



CREATE OR REPLACE TRIGGER "set_timestamp_professionals" BEFORE UPDATE ON "public"."professionals" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_set_timestamp"();



CREATE OR REPLACE TRIGGER "trg_alert_audit" AFTER INSERT OR DELETE OR UPDATE ON "public"."patient_alerts" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_audit_log"();



CREATE OR REPLACE TRIGGER "trg_appointment_audit" AFTER INSERT OR DELETE OR UPDATE ON "public"."appointments" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_audit_log"();



CREATE OR REPLACE TRIGGER "trg_appointment_status_change" AFTER UPDATE ON "public"."appointments" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_appointment_status_history"();



CREATE OR REPLACE TRIGGER "trg_audit_pat_inc" AFTER INSERT OR DELETE OR UPDATE ON "public"."patients" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_audit_log_incremental"();



CREATE OR REPLACE TRIGGER "trg_audit_prof_inc" AFTER INSERT OR DELETE OR UPDATE ON "public"."professionals" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_audit_log_incremental"();



CREATE OR REPLACE TRIGGER "trg_fin_doc_audit" AFTER UPDATE ON "public"."financial_documents" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_financial_audit"();



CREATE OR REPLACE TRIGGER "trg_patient_audit" AFTER INSERT OR DELETE OR UPDATE ON "public"."patients" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_audit_log"();



CREATE OR REPLACE TRIGGER "trg_payment_inserted" AFTER INSERT OR UPDATE ON "public"."payments" FOR EACH ROW EXECUTE FUNCTION "public"."update_document_balance"();



ALTER TABLE ONLY "public"."appointment_history"
    ADD CONSTRAINT "appointment_history_alterado_por_fkey" FOREIGN KEY ("alterado_por") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."appointment_history"
    ADD CONSTRAINT "appointment_history_appointment_id_fkey" FOREIGN KEY ("appointment_id") REFERENCES "public"."appointments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."appointment_history"
    ADD CONSTRAINT "appointment_history_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_procedure_id_fkey" FOREIGN KEY ("procedure_id") REFERENCES "public"."procedures"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "appointments_professional_id_fkey" FOREIGN KEY ("professional_id") REFERENCES "public"."professionals"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_changed_by_fkey" FOREIGN KEY ("changed_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."cash_movements"
    ADD CONSTRAINT "cash_movements_cash_register_id_fkey" FOREIGN KEY ("cash_register_id") REFERENCES "public"."cash_registers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cash_movements"
    ADD CONSTRAINT "cash_movements_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."cash_movements"
    ADD CONSTRAINT "cash_movements_payment_id_fkey" FOREIGN KEY ("payment_id") REFERENCES "public"."payments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."cash_registers"
    ADD CONSTRAINT "cash_registers_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."cash_registers"
    ADD CONSTRAINT "cash_registers_closed_by_fkey" FOREIGN KEY ("closed_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."cash_registers"
    ADD CONSTRAINT "cash_registers_opened_by_fkey" FOREIGN KEY ("opened_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."financial_audit"
    ADD CONSTRAINT "financial_audit_changed_by_fkey" FOREIGN KEY ("changed_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."financial_audit"
    ADD CONSTRAINT "financial_audit_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."financial_audit"
    ADD CONSTRAINT "financial_audit_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."financial_documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."financial_document_items"
    ADD CONSTRAINT "financial_document_items_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."financial_documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."financial_document_items"
    ADD CONSTRAINT "financial_document_items_procedure_id_fkey" FOREIGN KEY ("procedure_id") REFERENCES "public"."procedures"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."financial_documents"
    ADD CONSTRAINT "financial_documents_appointment_id_fkey" FOREIGN KEY ("appointment_id") REFERENCES "public"."appointments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."financial_documents"
    ADD CONSTRAINT "financial_documents_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."financial_documents"
    ADD CONSTRAINT "financial_documents_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."financial_documents"
    ADD CONSTRAINT "financial_documents_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."appointments"
    ADD CONSTRAINT "fk_appointment_patient" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."health_insurances"
    ADD CONSTRAINT "health_insurances_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_appointment_id_fkey" FOREIGN KEY ("appointment_id") REFERENCES "public"."appointments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."notifications"
    ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."patient_alerts"
    ADD CONSTRAINT "patient_alerts_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_contacts"
    ADD CONSTRAINT "patient_contacts_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_devices"
    ADD CONSTRAINT "patient_devices_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_documents"
    ADD CONSTRAINT "patient_documents_deleted_by_fkey" FOREIGN KEY ("deleted_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."patient_documents"
    ADD CONSTRAINT "patient_documents_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_documents"
    ADD CONSTRAINT "patient_documents_uploaded_by_fkey" FOREIGN KEY ("uploaded_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."patient_health_insurances"
    ADD CONSTRAINT "patient_health_insurances_health_insurance_id_fkey" FOREIGN KEY ("health_insurance_id") REFERENCES "public"."health_insurances"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."patient_health_insurances"
    ADD CONSTRAINT "patient_health_insurances_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patient_sessions"
    ADD CONSTRAINT "patient_sessions_patient_id_fkey" FOREIGN KEY ("patient_id") REFERENCES "public"."patients"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."patients"
    ADD CONSTRAINT "patients_auth_user_id_fkey" FOREIGN KEY ("auth_user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."patients"
    ADD CONSTRAINT "patients_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."payment_methods"
    ADD CONSTRAINT "payment_methods_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_document_id_fkey" FOREIGN KEY ("document_id") REFERENCES "public"."financial_documents"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_payment_method_id_fkey" FOREIGN KEY ("payment_method_id") REFERENCES "public"."payment_methods"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."permissions"
    ADD CONSTRAINT "permissions_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."procedures"
    ADD CONSTRAINT "procedures_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."procedures"
    ADD CONSTRAINT "procedures_specialty_id_fkey" FOREIGN KEY ("specialty_id") REFERENCES "public"."specialties"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."professional_availability_settings"
    ADD CONSTRAINT "professional_availability_settings_professional_id_fkey" FOREIGN KEY ("professional_id") REFERENCES "public"."professionals"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."professional_procedures"
    ADD CONSTRAINT "professional_procedures_procedure_id_fkey" FOREIGN KEY ("procedure_id") REFERENCES "public"."procedures"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."professional_procedures"
    ADD CONSTRAINT "professional_procedures_professional_id_fkey" FOREIGN KEY ("professional_id") REFERENCES "public"."professionals"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."professional_schedule"
    ADD CONSTRAINT "professional_schedule_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."professional_schedule"
    ADD CONSTRAINT "professional_schedule_professional_id_fkey" FOREIGN KEY ("professional_id") REFERENCES "public"."professionals"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."professionals"
    ADD CONSTRAINT "professionals_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."professionals"
    ADD CONSTRAINT "professionals_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."professionals"
    ADD CONSTRAINT "professionals_user_profile_id_fkey" FOREIGN KEY ("user_profile_id") REFERENCES "public"."user_profiles"("id") ON DELETE RESTRICT;



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_permission_id_fkey" FOREIGN KEY ("permission_id") REFERENCES "public"."permissions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."role_permissions"
    ADD CONSTRAINT "role_permissions_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "public"."roles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."roles"
    ADD CONSTRAINT "roles_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."schedule_blocks"
    ADD CONSTRAINT "schedule_blocks_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."schedule_blocks"
    ADD CONSTRAINT "schedule_blocks_professional_id_fkey" FOREIGN KEY ("professional_id") REFERENCES "public"."professionals"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."security_logs"
    ADD CONSTRAINT "security_logs_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."security_logs"
    ADD CONSTRAINT "security_logs_target_user_id_fkey" FOREIGN KEY ("target_user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."security_logs"
    ADD CONSTRAINT "security_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."specialties"
    ADD CONSTRAINT "specialties_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_auth_user_id_fkey" FOREIGN KEY ("auth_user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_clinic_id_fkey" FOREIGN KEY ("clinic_id") REFERENCES "public"."clinics"("id");



ALTER TABLE ONLY "public"."user_profiles"
    ADD CONSTRAINT "user_profiles_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "public"."roles"("id") ON DELETE RESTRICT;



CREATE POLICY "Admin All Appointments SaaS" ON "public"."appointments" USING (("public"."is_admin"() AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Admin All Blocks" ON "public"."schedule_blocks" USING ("public"."is_admin"());



CREATE POLICY "Admin All History" ON "public"."appointment_history" USING ("public"."is_admin"());



CREATE POLICY "Admin All Notifications" ON "public"."notifications" USING ("public"."is_admin"());



CREATE POLICY "Admin All Schedule" ON "public"."professional_schedule" USING ("public"."is_admin"());



CREATE POLICY "Admin All Settings" ON "public"."professional_availability_settings" USING ("public"."is_admin"());



CREATE POLICY "Admin Cash Mov" ON "public"."cash_movements" USING (("public"."is_admin"() AND ("cash_register_id" IN ( SELECT "cash_registers"."id"
   FROM "public"."cash_registers"
  WHERE ("cash_registers"."clinic_id" = "public"."current_clinic_id"())))));



CREATE POLICY "Admin Cash Reg" ON "public"."cash_registers" USING (("public"."is_admin"() AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Admin Finance Docs" ON "public"."financial_documents" USING (("public"."is_admin"() AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Admin Finance Items" ON "public"."financial_document_items" USING (("public"."is_admin"() AND ("document_id" IN ( SELECT "financial_documents"."id"
   FROM "public"."financial_documents"
  WHERE ("financial_documents"."clinic_id" = "public"."current_clinic_id"())))));



CREATE POLICY "Admin Payment Methods" ON "public"."payment_methods" USING (("public"."is_admin"() AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Admin Payments" ON "public"."payments" USING (("public"."is_admin"() AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Admin gerencia profissionais" ON "public"."professionals" USING ("public"."is_admin"());



CREATE POLICY "Admin gerencia todos perfis" ON "public"."user_profiles" USING ("public"."is_admin"());



CREATE POLICY "Admin pac all SaaS" ON "public"."patients" USING (("public"."is_admin"() AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Admin v├¬ logs" ON "public"."security_logs" FOR SELECT USING ("public"."is_admin"());



CREATE POLICY "Clinics open read" ON "public"."clinics" FOR SELECT USING (true);



CREATE POLICY "Leitura de permissions (auth)" ON "public"."permissions" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Leitura de role_permissions (auth)" ON "public"."role_permissions" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Leitura de roles (auth)" ON "public"."roles" FOR SELECT USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Prof Prof Appointments SaaS" ON "public"."appointments" USING ((("professional_id" = "public"."get_current_professional_id"()) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Prof Prof Blocks" ON "public"."schedule_blocks" USING (("professional_id" = "public"."get_current_professional_id"()));



CREATE POLICY "Prof Prof History" ON "public"."appointment_history" FOR SELECT USING (("appointment_id" IN ( SELECT "appointments"."id"
   FROM "public"."appointments"
  WHERE ("appointments"."professional_id" = "public"."get_current_professional_id"()))));



CREATE POLICY "Prof Prof Schedule" ON "public"."professional_schedule" USING (("professional_id" = "public"."get_current_professional_id"()));



CREATE POLICY "Prof Prof Settings" ON "public"."professional_availability_settings" USING (("professional_id" = "public"."get_current_professional_id"()));



CREATE POLICY "Prof pac select SaaS" ON "public"."patients" FOR SELECT USING ((("clinic_id" = "public"."current_clinic_id"()) AND (EXISTS ( SELECT 1
   FROM "public"."appointments" "a"
  WHERE (("a"."patient_id" = "patients"."id") AND ("a"."professional_id" = "public"."get_current_professional_id"()))))));



CREATE POLICY "Profissional v├¬ os pr├│prios dados" ON "public"."professionals" FOR SELECT USING (("user_profile_id" = "public"."get_current_user_profile_id"()));



CREATE POLICY "Recep All Appointments SaaS" ON "public"."appointments" USING (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Recep All History" ON "public"."appointment_history" USING ("public"."has_role"('RECEPCIONISTA'::character varying));



CREATE POLICY "Recep Finance Insert" ON "public"."financial_documents" FOR INSERT WITH CHECK (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Recep Finance Select Insert" ON "public"."financial_documents" FOR SELECT USING (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Recep Le Blocks" ON "public"."schedule_blocks" FOR SELECT USING ("public"."has_role"('RECEPCIONISTA'::character varying));



CREATE POLICY "Recep Le Schedule" ON "public"."professional_schedule" FOR SELECT USING ("public"."has_role"('RECEPCIONISTA'::character varying));



CREATE POLICY "Recep Le Settings" ON "public"."professional_availability_settings" FOR SELECT USING ("public"."has_role"('RECEPCIONISTA'::character varying));



CREATE POLICY "Recep Payment Methods Select" ON "public"."payment_methods" FOR SELECT USING (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Recep Payments Insert" ON "public"."payments" FOR INSERT WITH CHECK (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Recep Payments Select Insert" ON "public"."payments" FOR SELECT USING (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Recep pac all SaaS" ON "public"."patients" USING (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("clinic_id" = "public"."current_clinic_id"())));



CREATE POLICY "Recepcionista visualiza profissionais" ON "public"."professionals" FOR SELECT USING (("public"."has_role"('RECEPCIONISTA'::character varying) AND ("ativo" = true)));



CREATE POLICY "Sistema insere logs do usu├írio" ON "public"."security_logs" FOR INSERT WITH CHECK ((("auth"."uid"() = "user_id") OR "public"."is_admin"()));



CREATE POLICY "Usu├írio v├¬ pr├│prio perfil" ON "public"."user_profiles" FOR SELECT USING (("auth_user_id" = "auth"."uid"()));



ALTER TABLE "public"."appointment_history" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."appointments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."cash_movements" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."cash_registers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."clinics" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."financial_document_items" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."financial_documents" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."notifications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."patients" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payment_methods" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."permissions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."professional_availability_settings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."professional_schedule" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."professionals" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."role_permissions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."roles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."schedule_blocks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."security_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_profiles" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."clinic_active"() TO "anon";
GRANT ALL ON FUNCTION "public"."clinic_active"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."clinic_active"() TO "service_role";



GRANT ALL ON TABLE "public"."clinics" TO "anon";
GRANT ALL ON TABLE "public"."clinics" TO "authenticated";
GRANT ALL ON TABLE "public"."clinics" TO "service_role";



GRANT ALL ON FUNCTION "public"."current_clinic"() TO "anon";
GRANT ALL ON FUNCTION "public"."current_clinic"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."current_clinic"() TO "service_role";



GRANT ALL ON FUNCTION "public"."current_clinic_id"() TO "anon";
GRANT ALL ON FUNCTION "public"."current_clinic_id"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."current_clinic_id"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_current_professional_id"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_current_professional_id"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_current_professional_id"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_current_user_profile_id"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_current_user_profile_id"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_current_user_profile_id"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_user_role"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_user_role"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_user_role"() TO "service_role";



GRANT ALL ON FUNCTION "public"."has_permission"("perm_name" character varying) TO "anon";
GRANT ALL ON FUNCTION "public"."has_permission"("perm_name" character varying) TO "authenticated";
GRANT ALL ON FUNCTION "public"."has_permission"("perm_name" character varying) TO "service_role";



GRANT ALL ON FUNCTION "public"."has_role"("role_name" character varying) TO "anon";
GRANT ALL ON FUNCTION "public"."has_role"("role_name" character varying) TO "authenticated";
GRANT ALL ON FUNCTION "public"."has_role"("role_name" character varying) TO "service_role";



GRANT ALL ON FUNCTION "public"."is_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_appointment_status_history"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_appointment_status_history"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_appointment_status_history"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_audit_log"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_audit_log"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_audit_log"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_audit_log_incremental"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_audit_log_incremental"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_audit_log_incremental"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_financial_audit"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_financial_audit"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_financial_audit"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_set_timestamp"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_set_timestamp"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_set_timestamp"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_appointment_status"("p_appointment_id" "uuid", "p_new_status" character varying, "p_observacao" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."update_appointment_status"("p_appointment_id" "uuid", "p_new_status" character varying, "p_observacao" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_appointment_status"("p_appointment_id" "uuid", "p_new_status" character varying, "p_observacao" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_document_balance"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_document_balance"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_document_balance"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_last_login_profile"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_last_login_profile"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_last_login_profile"() TO "service_role";



GRANT ALL ON TABLE "public"."appointment_history" TO "anon";
GRANT ALL ON TABLE "public"."appointment_history" TO "authenticated";
GRANT ALL ON TABLE "public"."appointment_history" TO "service_role";



GRANT ALL ON TABLE "public"."appointments" TO "anon";
GRANT ALL ON TABLE "public"."appointments" TO "authenticated";
GRANT ALL ON TABLE "public"."appointments" TO "service_role";



GRANT ALL ON TABLE "public"."audit_logs" TO "anon";
GRANT ALL ON TABLE "public"."audit_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";



GRANT ALL ON TABLE "public"."cash_movements" TO "anon";
GRANT ALL ON TABLE "public"."cash_movements" TO "authenticated";
GRANT ALL ON TABLE "public"."cash_movements" TO "service_role";



GRANT ALL ON TABLE "public"."cash_registers" TO "anon";
GRANT ALL ON TABLE "public"."cash_registers" TO "authenticated";
GRANT ALL ON TABLE "public"."cash_registers" TO "service_role";



GRANT ALL ON TABLE "public"."financial_audit" TO "anon";
GRANT ALL ON TABLE "public"."financial_audit" TO "authenticated";
GRANT ALL ON TABLE "public"."financial_audit" TO "service_role";



GRANT ALL ON TABLE "public"."financial_document_items" TO "anon";
GRANT ALL ON TABLE "public"."financial_document_items" TO "authenticated";
GRANT ALL ON TABLE "public"."financial_document_items" TO "service_role";



GRANT ALL ON TABLE "public"."financial_documents" TO "anon";
GRANT ALL ON TABLE "public"."financial_documents" TO "authenticated";
GRANT ALL ON TABLE "public"."financial_documents" TO "service_role";



GRANT ALL ON TABLE "public"."health_insurances" TO "anon";
GRANT ALL ON TABLE "public"."health_insurances" TO "authenticated";
GRANT ALL ON TABLE "public"."health_insurances" TO "service_role";



GRANT ALL ON TABLE "public"."notifications" TO "anon";
GRANT ALL ON TABLE "public"."notifications" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications" TO "service_role";



GRANT ALL ON TABLE "public"."patient_alerts" TO "anon";
GRANT ALL ON TABLE "public"."patient_alerts" TO "authenticated";
GRANT ALL ON TABLE "public"."patient_alerts" TO "service_role";



GRANT ALL ON TABLE "public"."patient_contacts" TO "anon";
GRANT ALL ON TABLE "public"."patient_contacts" TO "authenticated";
GRANT ALL ON TABLE "public"."patient_contacts" TO "service_role";



GRANT ALL ON TABLE "public"."patient_devices" TO "anon";
GRANT ALL ON TABLE "public"."patient_devices" TO "authenticated";
GRANT ALL ON TABLE "public"."patient_devices" TO "service_role";



GRANT ALL ON TABLE "public"."patient_documents" TO "anon";
GRANT ALL ON TABLE "public"."patient_documents" TO "authenticated";
GRANT ALL ON TABLE "public"."patient_documents" TO "service_role";



GRANT ALL ON TABLE "public"."patient_health_insurances" TO "anon";
GRANT ALL ON TABLE "public"."patient_health_insurances" TO "authenticated";
GRANT ALL ON TABLE "public"."patient_health_insurances" TO "service_role";



GRANT ALL ON TABLE "public"."patient_sessions" TO "anon";
GRANT ALL ON TABLE "public"."patient_sessions" TO "authenticated";
GRANT ALL ON TABLE "public"."patient_sessions" TO "service_role";



GRANT ALL ON TABLE "public"."patients" TO "anon";
GRANT ALL ON TABLE "public"."patients" TO "authenticated";
GRANT ALL ON TABLE "public"."patients" TO "service_role";



GRANT ALL ON TABLE "public"."payment_methods" TO "anon";
GRANT ALL ON TABLE "public"."payment_methods" TO "authenticated";
GRANT ALL ON TABLE "public"."payment_methods" TO "service_role";



GRANT ALL ON TABLE "public"."payments" TO "anon";
GRANT ALL ON TABLE "public"."payments" TO "authenticated";
GRANT ALL ON TABLE "public"."payments" TO "service_role";



GRANT ALL ON TABLE "public"."permissions" TO "anon";
GRANT ALL ON TABLE "public"."permissions" TO "authenticated";
GRANT ALL ON TABLE "public"."permissions" TO "service_role";



GRANT ALL ON TABLE "public"."procedures" TO "anon";
GRANT ALL ON TABLE "public"."procedures" TO "authenticated";
GRANT ALL ON TABLE "public"."procedures" TO "service_role";



GRANT ALL ON TABLE "public"."professional_availability_settings" TO "anon";
GRANT ALL ON TABLE "public"."professional_availability_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."professional_availability_settings" TO "service_role";



GRANT ALL ON TABLE "public"."professional_procedures" TO "anon";
GRANT ALL ON TABLE "public"."professional_procedures" TO "authenticated";
GRANT ALL ON TABLE "public"."professional_procedures" TO "service_role";



GRANT ALL ON TABLE "public"."professional_schedule" TO "anon";
GRANT ALL ON TABLE "public"."professional_schedule" TO "authenticated";
GRANT ALL ON TABLE "public"."professional_schedule" TO "service_role";



GRANT ALL ON TABLE "public"."professionals" TO "anon";
GRANT ALL ON TABLE "public"."professionals" TO "authenticated";
GRANT ALL ON TABLE "public"."professionals" TO "service_role";



GRANT ALL ON TABLE "public"."role_permissions" TO "anon";
GRANT ALL ON TABLE "public"."role_permissions" TO "authenticated";
GRANT ALL ON TABLE "public"."role_permissions" TO "service_role";



GRANT ALL ON TABLE "public"."roles" TO "anon";
GRANT ALL ON TABLE "public"."roles" TO "authenticated";
GRANT ALL ON TABLE "public"."roles" TO "service_role";



GRANT ALL ON TABLE "public"."schedule_blocks" TO "anon";
GRANT ALL ON TABLE "public"."schedule_blocks" TO "authenticated";
GRANT ALL ON TABLE "public"."schedule_blocks" TO "service_role";



GRANT ALL ON TABLE "public"."security_logs" TO "anon";
GRANT ALL ON TABLE "public"."security_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."security_logs" TO "service_role";



GRANT ALL ON TABLE "public"."specialties" TO "anon";
GRANT ALL ON TABLE "public"."specialties" TO "authenticated";
GRANT ALL ON TABLE "public"."specialties" TO "service_role";



GRANT ALL ON TABLE "public"."user_profiles" TO "anon";
GRANT ALL ON TABLE "public"."user_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."vw_accounts_payable" TO "anon";
GRANT ALL ON TABLE "public"."vw_accounts_payable" TO "authenticated";
GRANT ALL ON TABLE "public"."vw_accounts_payable" TO "service_role";



GRANT ALL ON TABLE "public"."vw_accounts_receivable" TO "anon";
GRANT ALL ON TABLE "public"."vw_accounts_receivable" TO "authenticated";
GRANT ALL ON TABLE "public"."vw_accounts_receivable" TO "service_role";



GRANT ALL ON TABLE "public"."vw_daily_cash" TO "anon";
GRANT ALL ON TABLE "public"."vw_daily_cash" TO "authenticated";
GRANT ALL ON TABLE "public"."vw_daily_cash" TO "service_role";



GRANT ALL ON TABLE "public"."vw_monthly_revenue" TO "anon";
GRANT ALL ON TABLE "public"."vw_monthly_revenue" TO "authenticated";
GRANT ALL ON TABLE "public"."vw_monthly_revenue" TO "service_role";



GRANT ALL ON TABLE "public"."vw_professional_revenue" TO "anon";
GRANT ALL ON TABLE "public"."vw_professional_revenue" TO "authenticated";
GRANT ALL ON TABLE "public"."vw_professional_revenue" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







